.pk-header h1 {font-size: 45px;}
.pk-main h1 {font-size: 32px;text-align: left;}
.pk-main li p{text-align: left; font-size: 15px; line-height: 1.2em; font-weight: normal;}
.pk-main strong {display: block; font-size: 18px; font-weight: 900;}
.pk-toons .pk-description {margin-top: -184px;}
.pk-library .pk-description {margin-top: -250px;}
.pk-games .pk-description {margin-top: -219px;}
.pk-best .pk-description {margin-top: -225px;}
.btn-pk {padding: 20px 60px;}
.pk-header h3 {font-size: 37px;}

.device-full {margin-left: -10px; width: 653px; display: block;margin-top: 52px;}
.device-mobile {display: none;}

.btn-play {
    margin-left: 273px;
    top: 75px;
    width: 100px;
    position: absolute;
}

.pk-header {
    background-image: url("../imgs/world-bg-high.jpg");
    background-size: auto 137%;
    background-position-x: 60%;
    background-position-y: bottom;
    height: 1104px;
}
.toon img{
    width: 70%;
}